#
#   STEP 2 - Create a script that will overwrite the Nginx config
#
files:

  "/tmp/install-nginx-config.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      cp /tmp/my.nginx.conf /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-upstream.conf
      service nginx restart
